<!DOCTYPE html>
	<html lang="en" data-ng-app>
		<head>
			<meta charset="utf-8">
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<meta name="viewport" content="initial-scale=1.0">
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
		</head>

		<body>
			<h1>Hiiii Welcome to the STUDY SQUAD BOT HOMEPAGE</h1>
			<img src= "https://media.giphy.com/media/ZJlesIV8TnabS/giphy.gif" alt="HTML5 Icon" style="width:128px;height:128px;"><br>
			<form>
				Fave number:<input type="text" name="fave digit"></br>
			</form>
		</body>
	</html>